<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.cookden"
    versionCode="10"
    version   = "1.0.0">
    
    <!-- versionCode is optional and Android only -->
    
    <name>CookDen</name>
    
    <description>
        An easy way to share recipes with the people you care about.
    </description>
    
    <author href="https://www.cookden.com" email="team@cookden.com">
        Kim Manis
    </author>
    
</widget>